*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.headiv{
    width: 100%;
    display: flex;
}
.head-icon{
    justify-content: flex-end;
}
main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
}
.box{
    width: calc(100% / 7 - 10px);
    height: 15vh;
    background-image:url(https://picsum.photos/id/3/200/300);
    background-size: cover;
    position: relative;
    margin: 10px 5px;
}
.utente{
    width: 50%;
    background-color: grey;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.8)
}
.foot-left{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;  
}
.foot-center{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;  
}
.foot-right{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;  
    background-color: rgba(0, 0, 0, 0.1);
}
.mic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 10px; 
    color: white;
}
.logo{
    font-size: 40px;
}
#share-screen{
    color: green;
}
.fa-angle-up{
    font-size:20px;
}
.red{
    color: red;
}